<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BIND_DREAM_SERVICE"
        tools:ignore="ProtectedPermissions" />

    <!-- Android TV support -->
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:name=".PlexScreensaverApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlexScreensaver"
        android:banner="@mipmap/ic_launcher"
        tools:targetApi="31">

        <!-- Main Activity -->
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.PlexScreensaver">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Server Selection Activity -->
        <activity
            android:name=".ui.ServerSelectionActivity"
            android:exported="false"
            android:label="Select Server"
            android:theme="@style/Theme.PlexScreensaver" />

        <!-- Library Selection Activity -->
        <activity
            android:name=".ui.LibrarySelectionActivity"
            android:exported="false"
            android:label="Select Libraries"
            android:theme="@style/Theme.PlexScreensaver" />

        <!-- Preview Activity -->
        <activity
            android:name=".ui.PreviewActivity"
            android:exported="false"
            android:theme="@style/Theme.PlexScreensaver"
            android:screenOrientation="landscape" />

        <!-- API Settings Activity -->
        <activity
            android:name=".ui.ApiSettingsActivity"
            android:exported="false"
            android:label="API Settings"
            android:theme="@style/Theme.PlexScreensaver" />

        <!-- Screensaver Dream Service -->
        <service
            android:name=".service.PlexScreensaverService"
            android:exported="true"
            android:label="@string/screensaver_name"
            android:permission="android.permission.BIND_DREAM_SERVICE">
            <intent-filter>
                <action android:name="android.service.dreams.DreamService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.service.dream"
                android:resource="@xml/plex_screensaver" />
        </service>

    </application>

</manifest>

